
*.json
*.dll
*.pdb
*.props
*.targets
*.bak
*.cache
*.cache
*.cache
*.exe
*.CopyComplete
*.cache
.vs/World Editor - UG Remake/v17/.suo
.vs/World Editor - UG Remake/v17/.suo
*.v1
.vs/World Editor - UG Remake/v17/.suo
*.vsidx
*.vsidx
*.v2
*.v2
*.v2
*.v2
*.v2
.vs/ProjectEvaluation/world editor - ug remake.metadata.v2
*.v2
*.editorconfig
*.cs
*.v2
